
table {
    width: 100%; /* テーブルを親要素の横幅いっぱいに設定 */
    border-collapse: collapse; /* セルの境界線を1本にする */
    text-align: center;
    table-layout: fixed; /* セルの幅を固定 */
}

/* オプションで、テーブルのヘッダーに別のスタイルを適用することもできます */
td {
    text-align: center; /* テキストを中央揃えにする */
    border: 1px solid #ababab; /* 黒色の境界線 */
    border-collapse: collapse; /* セルの境界線を1本にする */
    padding: 10px 0px;
    overflow: hidden; /* 内容がセルの幅を超える場合には非表示にします */
    text-overflow: ellipsis; /* 内容が超えた場合には省略記号を表示します */
    white-space: nowrap; /* セルの内容を改行しないようにします */
}

td:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: bisque;
}

#polyRhythmTimeSignature{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right:5px;
}
/* ---------------------------------------------- */

.highlight1{
    background-color: salmon !important;;
}
.rhythm1Border{
    border-left: solid salmon;
}

.highlightLcm{
    background-color: aquamarine !important;;
}
.lcmBorder{
    border-left: solid aquamarine;
}

.highlight2{
    background-color: cyan !important;;
}
.rhythm2Border{
    border-left: solid cyan;
}
/* ---------------------------------------------- */
.muted{
    background-color: #7a7a7a;
}

#polyRhythmMetronome{
    display: flex;
    padding-bottom: 20px;
}

/* ---------------------------------------------- */
.note_image {
    padding: 5px;
    height: clamp(2rem, 2rem + 1vw, 4rem);
    /* 中央揃え */
    margin: 0 auto;
}


